---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "egoising";

const musics = ["shteppi", "machineplus", "femtanyl", "deathbrain", "pet shimmers", "living hour"];
const authors = ["deleuze", "pynchon", "alison rumfitt", "yelena moskovich", "hiroko oyamada", "judith butler"];
const things = ["baseball", "poststructuralism", "wikipedia", "cinnamon", "yuri", "jerma", "craft cocktails"];
---

<BaseLayout pageTitle={pageTitle}>
	<style is:global>
		.listItem {
			color: var(--accent-2);
		}
	</style>
	<p>halcy(on):</p>
	<ul>
		<li>lives in japan. it's got its ups and downs</li>
		<li>wants to write something. she reads too much to not at least try</li>
		<li>used to make music. in a band. she plays the drums. can she still say she plays the drums if she hasn't for a couple years now?</li>
		<li>refuses to use capital letters -- they're a capital-ist tool for the upper case</li>
	</ul>
	<p><br/>music that's good:</p>
	<ul>
	  {musics.map((music) => <li class="listItem">{music}</li>)}
	</ul>
	<p><br/>authors who're good:</p>
	<ul>
	  {authors.map((author) => <li class="listItem">{author}</li>)}
	</ul>
	<p><br/>other assorted things that're good:</p>
	<ul>
	  {things.map((thing) => <li class="listItem">{thing}</li>)}
	</ul>
</BaseLayout>