---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "egoising";

const musics = ["shteppi", "machineplus", "femtanyl", "deathbrain", "pet shimmers", "living hour"];
const authors = ["gilles deleuze", "thomas pynchon", "alison rumfitt", "yelena moskovich", "hiroko oyamada", "judith butler"];
const things = ["baseball", "poststructuralism", "wikipedia", "cinnamon", "jerma", "craft cocktails"];
---

<BaseLayout pageTitle={pageTitle}>
	<style is:global>
		.listItem {
			color: var(--accent-2);
		}
	</style>
	<p>what is a halcyon line? (a row of kingfishers)<br/> why is halcy online? (to host personal projects)<br/> and more answers to questions you might find yourself asking:</p>
	<ul class="ml-5 mt-3">
		<li>halcy's from new zealand, she's currently in japan, she's moving to canada</li>
		<li>she wants to write something. she reads too much to not at least try</li>
		<li>she used to make music in a band. she plays the drums</li>
	</ul>
	<p><br/>music that's good:</p>
	<ul>
	  {musics.map((music) => <li class="listItem">{music}</li>)}
	</ul>
	<p><br/>authors who're good:</p>
	<ul>
	  {authors.map((author) => <li class="listItem">{author}</li>)}
	</ul>
	<p><br/>other assorted things that're good:</p>
	<ul>
	  {things.map((thing) => <li class="listItem">{thing}</li>)}
	</ul>
</BaseLayout>