---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "home";
---

<BaseLayout pageTitle={pageTitle}>
	<h3>thanks for still being here. you're doing well</h3>
	<p>site is a work in progress, in fact i'm not even sure how you got here...
</BaseLayout>
