---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "home";
---

<BaseLayout pageTitle={pageTitle}>
	<p>one website among a billion, reaching you through the power of blinking light in glass tubes™<br/>
		if you're here to see my job qualifications, check out my <a href=/resume>resume</a> or <a href=/projects>projects<a/><br/>
		if you're here to see my personal interests, check out my <a href=/about>about page</a> 
		or my writing (when i get around to hosting it)<br/>
		<br/>
		also, change the site's theme with the palette button
	</p>
</BaseLayout>
