---
import Navigation from './Navigation.astro';
import Menu from './Menu.astro';
import ThemeIcon from './ThemeIcon.astro';
import SlidingPanel from './SlidingPanel.astro';
---

<header>
	<nav>
		<div>
			<SlidingPanel>
				<ThemeIcon />
			</SlidingPanel>
			<Menu />
		</div>
		<Navigation />
	</nav>
</header>

<style>
	div {
		display: flex;
		justify-content: space-between;
	}
</style>