---
import Navigation from './Navigation.astro'
import Menu from './Menu.astro'
import SlidingPanel from './SlidingPanel.astro'
---

<header>
  <nav>
    <div class="flex justify-between items-center">
      <SlidingPanel />
      <Menu />
    </div>
    <Navigation />
  </nav>
</header>