---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>


<style>
  a {
    padding: 0.5rem 1rem;
    color: var(--bg);
    background-color: var(--accent);
    text-decoration: none;
    font-family: inherit;
  }
</style>