---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
	<p>Written by {frontmatter.author}</p>
	<div class="tags">
		{frontmatter.tags.map((tag) => (
			<p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
		))}
	</div>
	<slot />
</BaseLayout>

<style>
  a {
    color: var(--accent);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px var(--border);
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: var(--bg);
    color: var(--fg);
  }
</style>